# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# django
*.log
local_settings.py
db.sqlite3
staticfiles/

# media
media/*
!media/.gitkeep

# staticfiles
staticfiles/*
!staticfiles/.gitkeep

# env
.env
.venv
env/
venv/

# ide
.vscode/
.idea/
*.swp
*.swo

# os
.DS_Store
Thumbs.db

# project init
init_django.bat
